@import "https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&display=swap";
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap");

:root {
  --back: #1A2A3B;
  --details: #FF007F;
  --light-purple: #efe5fd;
  --purple: #de17f0;
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../image/background.png') no-repeat;
  background-size: cover;
  font-size: 1.8rem;
  overflow: hidden;
}

audio {
  display: none;
}

.wrapper-view {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1.5rem;
  padding: 4rem 0;
}

.flipbook {
  font-family: "Caveat", cursive;
  font-size: 2.6rem;
}

.flipbook .hard {
  background: var(--purple);
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.flipbook .hard div {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flipbook .page {
  background: #fff;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.flipbook .page .content {
  width: 100%;
  height: 100%;
  background-color: #fff;
  border: 1px solid #bbb;
  padding: 1.5rem;
  line-height: 1.4;
  color: #333;
  background-image: linear-gradient(to bottom, #fff 10%, #5bc3f3 20% 10%, #fff 20%);
  background-size: 100% 20px;
  box-sizing: border-box;
  position: relative;
}

.flipbook .page .content .photo {
  position: absolute;
  width: 100%;
  height: 50%;
}

.flipbook .page .content .photo img {
  width: 400px;
  position: absolute;
  overflow: hidden;
  border: 10px solid white;
  box-sizing: border-box;
  box-shadow: 2px 1px 5px black;
}

@media (max-width: 800px) {
  .flipbook .page .content .photo img {
    width: 300px;
  }
}

.flipbook .page .content .photo.top {
  top: 10px;
  left: 60px;
  transform: rotate(-5deg);
  /* A imagem de cima levemente inclinada */
}

@media (max-width: 1100px) {
  .flipbook .page .content .photo.top {
    top: 14px;
    left: 24px;
  }
}

.flipbook .page .content .photo.bottom {
  bottom: 200px;
  left: 100px;
  transform: rotate(5deg);
}

@media (max-width: 1100px) {
  .flipbook .page .content .photo.bottom {
    bottom: 110px;
    left: 46px;
  }
}

.flipbook .page .content .text-bottom {
  position: absolute;
  bottom: 120px;
}

@media (max-width: 1100px) {
  .flipbook .page .content .text-bottom {
    bottom: 0;
  }
}

.flipbook .page .content .post-it {
  width: 200px;
  height: 200px;
  background-color: #ffeb3b;
  /* Cor amarela do Post-it */
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  /* Sombra para dar efeito de levantamento */
  padding: 20px;
  position: relative;
  font-family: Arial, sans-serif;
  font-size: 16px;
}

.flipbook .page .content .post-it::after {
  content: "";
  position: absolute;
  top: -10px;
  left: 50%;
  width: 20px;
  height: 20px;
  background-color: #ffeb3b;
  transform: rotate(45deg);
  /* Cria o efeito de dobra */
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  margin-left: -10px;
}

.flipbook .page .content .post-it p {
  margin: 0;
  color: #333;
}

.flipbook p {
  margin-bottom: 20px;
  letter-spacing: 0.5px;
}

@media (max-width: 1100px) {
  .flipbook {
    font-size: 1.8rem;
  }
}

.flipbook svg {
  position: absolute;
  bottom: 5rem;
}

.flipbook svg #line {
  fill: none;
  stroke: #e00000;
  stroke-width: 1.5;
  stroke-linecap: butt;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-opacity: 1;
  stroke-dasharray: 1;
  stroke-dashoffset: 1;
  animation: dash 3s linear infinite;
}

.flipbook svg #point {
  fill: none;
  stroke: #f00000;
  stroke-width: 5;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 0.1;
  stroke-opacity: 1;
  stroke-dasharray: 0.0001, 0.9999;
  stroke-dashoffset: 1;
  animation: dash 3s linear infinite;
}

@keyframes dash {
  0% {
    stroke-dashoffset: 1;
  }

  80% {
    stroke-dashoffset: 0;
  }

  100% {
    stroke-dashoffset: 0;
  }
}

/*# sourceMappingURL=styles.css.map */